/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--tertiary);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}

.box-shadow {
  box-shadow: rgba(240, 46, 46, 0.2) 05px 05px, rgba(240, 46, 46, 0.2) 10px 10px, rgba(240, 46, 46, 0.1) 15px 15px, rgba(240, 46, 46, 0.05) 20px 20px;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: var(--tertiary);
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--tertiary);
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--primary);
  width: 40px;
  height: 40px;
  border-radius: 0.5rem;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: var(--tertiary);
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: var(--bg-secondary-transparent);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo img {
  max-height: 100px;
  transition: 0.3s ease-in;
}

#header.header-scrolled .logo img {
  max-height: 70px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: var(--tertiary);
}

.navbar .online-school,
.navbar .online-school:focus {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 14px;
  border: 2px solid var(--primary);
  font-weight: 600;
}

.navbar .online-school:hover,
.navbar .online-school:focus:hover {
  color: #fff;
  background: var(--tertiary);
  border-color: var(--tertiary);
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: var(--primary);
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(40, 58, 90, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: var(--tertiary);
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: var(--primary);
}

.navbar-mobile .online-school,
.navbar-mobile .online-school:focus {
  margin: 15px;
  color: var(--tertiary);
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: var(--primary);
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
  visibility: visible !important;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(130deg, #000 15.59%, #3b1616 86.33%);
}

#hero .mark {
  background-image: url(../images/notes.png);
  background-color: transparent;
  background-size: cover;
  background-position-y: -70px;
}

#hero .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero .container .row {
  width: 100%;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 20px;
}

#hero .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 0.5rem;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: var(--primary);
}

#hero .btn-get-started:hover {
  background: var(--tertiary);
}

#hero .btn-watch-video {
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin: 10px 0 0 25px;
  color: #fff;
  line-height: 1;
}

#hero .btn-watch-video i {
  line-height: 0;
  color: #fff;
  font-size: 32px;
  transition: 0.3s;
  margin-right: 8px;
}

#hero .btn-watch-video:hover i {
  color: var(--primary);
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }

  #hero .animated {
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }

  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: var(--bg-primary);
  background-image: url(../images/notes-texture.png);
  background-repeat: repeat;
}

.section-bg-2 {
  background-color: var(--bg-tertiary);
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: var(--primary);
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--primary);
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
  color: var(--tertiary);
}

/*--------------------------------------------------------------
# Detail Hero
--------------------------------------------------------------*/
.detail-hero {
  bottom: 0px;
  position: absolute;
  width: inherit;
  z-index: 1;
}

.detail-hero .icone-musical {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  font-size: 50px;
  cursor: pointer;
  color: var(--tertiary);
}

.detail-hero .icone-musical:hover {
  filter: none;
  transform: scale(1.1);
}

.detail-hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 768px) {
  .detail-hero .icone-musical {
    max-width: 40%;
  }
}

.hero-waves {
  bottom: 0;
  position: absolute;
  width: -webkit-fill-available;
  height: 100px;
}

.wave1 use {
  animation: move-forever1 10s linear infinite;
  animation-delay: -2s;
}

.wave2 use {
  animation: move-forever2 8s linear infinite;
  animation-delay: -2s;
}

.wave3 use {
  animation: move-forever3 6s linear infinite;
  animation-delay: -2s;
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about .school {
  height: 100%;
  min-height: 400px;
  background-image: url(../images/gallery/school-0.jpg);
  background-size: cover;
  background-position-y: -75px;
  border-radius: 0.5rem;
}

.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li + li {
  margin-top: 10px;
}

.about .content ul i {
  display: block;
  width: 30px;
  height: 30px;
  margin-top: 4px;
  background-size: cover;
  color: var(--primary);
  line-height: 1;
}

.about .content ul i.mission {
  background-image: url("../images/about/mission.png");
}

.about .content ul i.vision {
  background-image: url("../images/about/vision.png");
}

.about .content ul i.values {
  background-image: url("../images/about/value.png");
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Courses
--------------------------------------------------------------*/
.courses .icon-box {
  padding: 20px;
  width: 100%;
  height: max-content;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.4s;
  background: linear-gradient(180deg, #a22626 -9.88%, #410106 89.65%);
  border-radius: 1rem;
}

.courses .accordion-list ul {
  padding: 0;
  list-style: none;
}

.courses .accordion-list li {
  padding: 5px;
  color: #fff;
  border-radius: 4px;
}

.courses .accordion-list .toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  outline: none;
  cursor: pointer;
}

.courses .accordion-list .toggle .text {
  color: var(--tertiary);
  padding-right: 20px;
}

.courses .accordion-list .toggle .text:hover {
  color: var(--tertiary);
}

.courses .accordion-list .icon-show {
  display: none;
}

.courses .accordion-list .toggle.collapsed {
  color: var(--tertiary);
}

.courses .accordion-list .toggle.collapsed:hover {
  color: var(--tertiary);
}

.courses .accordion-list a.collapsed .icon-show {
  display: inline-block;
}

.courses .accordion-list a.collapsed .icon-close {
  display: none;
}

.courses ul li {
  display: flex;
  align-items: center;
}

.courses ul i {
  color: var(--tertiary);
  font-size: 24px;
  margin-right: 0.5rem;
}

.courses .icon {
  font-size: 20px;
}

.courses .icon-instrument {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;

  &.instrument-01 {
    background-image: url(../images/icons/Violão.png);
  }

  &.instrument-02 {
    background-image: url(../images/icons/Guitarra.png);
  }

  &.instrument-03 {
    background-image: url(../images/icons/Contrabaixo.png);
  }

  &.instrument-04 {
    background-image: url(../images/icons/Cavaquinho.png);
  }
  &.instrument-05 {
    background-image: url(../images/icons/Ukulele.png);
  }
  &.instrument-06 {
    background-image: url(../images/icons/Viola-Caipira.png);
  }
  &.instrument-07 {
    background-image: url(../images/icons/Flauta.png);
  }
  &.instrument-08 {
    background-image: url(../images/icons/Flauta-Transversal.png);
  }
  &.instrument-09 {
    background-image: url(../images/icons/Violino.png);
  }
  &.instrument-10 {
    background-image: url(../images/icons/Piano.png);
  }
  &.instrument-11 {
    background-image: url(../images/icons/Teclado.png);
  }
  &.instrument-12 {
    background-image: url(../images/icons/Sanfona.png);
  }
  &.instrument-13 {
    background-image: url(../images/icons/Cajon.png);
  }
  &.instrument-14 {
    background-image: url(../images/icons/Bateria.png);
  }
  &.instrument-15 {
    background-image: url(../images/icons/Microfone.png);
  }
  &.instrument-16 {
    background-image: url(../images/icons/Saxofone.png);
  }
  &.instrument-17 {
    background-image: url(../images/icons/Musicalização-Infantil.png);
  }
  &.instrument-18 {
    background-image: url(../images/icons/Teoria-Pratica.png);
  }
}

@media (max-width: 1024px) {
  .courses .content,
  .courses .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .courses .img {
    min-height: 400px;
  }

  .courses .content {
    padding-top: 30px;
  }

  .courses .accordion-list {
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .courses .img {
    min-height: 200px;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  background: linear-gradient(var(--bg-secondary-transparent), var(--bg-secondary-transparent-grad)), url("../images/gallery/school-4.jpg") fixed center center;
  background-size: cover;
  padding: 120px 0;
}

.contact h3 {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
}

.contact p {
  color: #fff;
}

.contact .contact-btn {
  margin: auto;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 5rem;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
  background: var(--whatsapp);
}

.contact .contact-btn:hover {
  background: var(--whatsapp-hover);
  border: 2px solid var(--tertiary);
}

.contact .contact-btn .icon-wpp {
  font-size: 40px;
}

.contact .contact-btn .btn-text-wpp {
  text-wrap: nowrap;
}

@media (max-width: 1024px) {
  .contact {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {
  .contact .contact-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery #gallery-filters {
  list-style: none;
  margin-bottom: 20px;
}

.gallery #gallery-filters li {
  cursor: pointer;
  display: inline-block;
  margin: 10px 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  transition: all 0.3s;
  padding: 8px 20px;
  border-radius: 0.5rem;
  font-family: "Poppins", sans-serif;
}

.gallery #gallery-filters li:hover,
.gallery #gallery-filters li.filter-active {
  background: var(--tertiary);
  color: #fff;
}

.gallery .gallery-item {
  margin-bottom: 30px;
}

.gallery .gallery-item .gallery-img {
  overflow: hidden;
  border-radius: 1rem;
}

.gallery .gallery-item .gallery-img img {
  transition: all 0.6s;
  border-radius: 1rem;
}

.gallery .gallery-item .gallery-info {
  opacity: 0;
  position: absolute;
  left: 15px;
  bottom: 0;
  z-index: 3;
  right: 15px;
  transition: all 0.3s;
  background: rgba(55, 81, 126, 0.8);
  padding: 10px 15px;
}

.gallery .gallery-item .gallery-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0px;
}

.gallery .gallery-item .gallery-info p {
  color: #f9fcfe;
  font-size: 14px;
  margin-bottom: 0;
}

.gallery .gallery-item .gallery-info .preview-link,
.gallery .gallery-item .gallery-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #fff;
  transition: 0.3s;
}

.gallery .gallery-item .gallery-info .preview-link:hover,
.gallery .gallery-item .gallery-info .details-link:hover {
  color: var(--primary);
}

.gallery .gallery-item .gallery-info .details-link {
  right: 10px;
}

.gallery .gallery-item:hover .gallery-img img {
  transform: scale(1.15);
}

.gallery .gallery-item:hover .gallery-info {
  opacity: 1;
}

/*--------------------------------------------------------------
# Teachers
--------------------------------------------------------------*/
.teacher .member {
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 5px;
  color: #fff;
  background: linear-gradient(180deg, #a22626 -9.88%, #410106 89.65%);
  transition: 0.5s;
  height: 100%;
}

.teacher .member .pic {
  overflow: hidden;
  width: 180px;
  border-radius: 50%;
}

.teacher .member .pic img {
  transition: ease-in-out 0.3s;
}

.teacher .member:hover {
  transform: translateY(-10px);
}

.teacher .member .member-info {
  padding-left: 30px;
}

.teacher .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: var(--tertiary);
}

.teacher .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.teacher .member span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #cbd6e9;
  bottom: 0;
  left: 0;
}

.teacher .member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.teacher .member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.teacher .member .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  width: 32px;
  height: 32px;
  background: #eff2f8;
}

.teacher .member .social a i {
  color: var(--tertiary);
  font-size: 16px;
  margin: 0 2px;
}

.teacher .member .social a:hover {
  background: var(--primary);
}

.teacher .member .social a:hover i {
  color: #fff;
}

.teacher .member .social a + a {
  margin-left: 8px;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  min-height: 320px;
}

.testimonials .testimonial-item p {
  min-height: 200px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: -40px 0 0 40px;
  position: relative;
  z-index: 2;
  border: 6px solid #fff;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 45px;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: var(--tertiary);
  margin: 0 0 0 45px;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: white;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 15px 0 15px;
  padding: 20px 20px 60px 20px;
  background: linear-gradient(173deg, #ff7d0a -30.7%, #f23535 113.5%);
  color: white;
  position: relative;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #ffc107;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffc107;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #f3f5fa;
  min-height: 40px;
  margin-top: 72px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 68px;
  }
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 600;
  color: var(--tertiary);
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #4668a2;
  content: "/";
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 14px;
  background: #000;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: var(--bg-secondary);
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .school-image {
  border-radius: 0.5rem;
  box-shadow: 10px 10px 30px 3px rgba(255, 255, 255, 0.3);
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--tertiary);
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
  color: #858585;
}

#footer .footer-top .footer-links p {
  color: #858585;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: var(--tertiary);
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: var(--primary);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: var(--tertiary);
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}

#footer .copyright {
  float: left;
}

#footer .credits {
  float: right;
  font-size: 13px;
}

#footer .credits a {
  transition: 0.3s;
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #footer .copyright,
  #footer .credits {
    text-align: center;
    float: none;
  }

  #footer .credits {
    padding-top: 4px;
  }
}
