:root {

  --primary: #F23535;
  --secondary: #590209;
  --tertiary: #FF7D0A;
  --tertiary-hover: #fb9840;
  --bg-card: #590209;
  --bg-primary: #220d0d;
  --bg-primary-transparent: #753c42;
  --bg-secondary: #0D0D0D;
  --bg-secondary-transparent: #0D0D0D;
  --bg-secondary-transparent-grad: #770505cc;
  --whatsapp: #55d935;
  --whatsapp-hover: #4bb430;
}
