:root {
  --primary: #b81728;
  --secondary: #152533;
  --tertiary: #ff7d0a;
  --tertiary-hover: #fb9840;
  --bg-primary: #753c42;
  --bg-primary-transparent: #753c42;
  --bg-secondary: #330d0d;
  --bg-secondary-transparent: #330d0dc2;
  --whats-app: #55d935;
}
